$text-primary: #b61984;
$text-secondary: #1d365e;
$text-white:white;
$text-dark:black;


$bg-primary: #2e55fa;
$bg-secondary: #222845;
$bg-third: #f4f4f4;

$bg-white:white;
$bg-dark:black;
 
$bd-radius0:6px;
$bd-radius1:30px;
$bd-radius2:10px;

$text-sm:14px;
$text-base:16px;
$text-md:18px;
$text-xl:20px;
$text-2xl:30px;
$text-3xl:40px;
$text-4xl:50px;
$text-5xl:60px;

$font-light:300;
$font-regular:400;
$font-semibold:600;
$font-bold:700;

$p-0:0;
$p-1:5px;
$p-2:10px;
$p-3:15px;
$p-4:20px;
$p-5:25px;
$p-6:30px;
$p-7:35px;
$p-8:40px;

$m-1:10px;
$m-2:15px;
$m-3:20px;
$m-4:25px;
$m-5:30px;
$m-6:35px;
$m-7:40px;


$button-border-radius:6px;
$button-bg-color: #cccc;